html, body {
  height: 100%;
  width: 100%;
  display: grid;
}
body {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: 'Pokemon Solid', sans-serif;
  background-image: url("https://d.furaffinity.net/art/blazingifrit/1475361156/1475361156.blazingifrit_zoruaeevee_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
font-size: 48px;
text-align: center;
font-family: 'Pokemon Solid', sans-serif;

}


#board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  min-width: 620px;
  row-gap: 20px;
  column-gap: 30px;
  margin:25px, 0, 0, 150px;

  }
#board > div {
  border: 1vmin solid black;
height: 120px;
width: 100px;

}
#board > div > img {
display: block;
width: 100%;
height: 100%;
}

#playagain {
text-align: center;
justify-content: center;
display: grid;
font-family: 'Pokemon Solid', sans-serif;
font-size: px;
  
} 

#time     {
align-items: center;
text-align: center;
justify-content: center;
display: flex;
font-size: 36px;

}